{% extends 'boost/base.html' %}

{% block title %} Revise {% endblock %}

{% block body_block %}

<div class="container d-flex flex-column align-items-center min-vh-100">

    {% if noquest %}
    <div class="text-center my-5">
        <p class="fs-4 fw-bold">Great work, {{ user.first_name }}! You have covered all the questions!</p>
    </div>
    {% else %}

    <div class="text-center my-5">
        <p class="h4 fw-bold">{{ user.first_name }}, retry the questions!</p>
    </div>

    <div class="w-100">
        <form action="{% url 'tests:result' %}" method="POST" class="w-100">
            {% csrf_token %}
            <div class="w-100">
                {% for question in question_list %}
                <div class="mb-4 p-3 border rounded shadow-sm w-100 w-md-75 mx-auto">
                    <p class="fs-5 fw-bold">{{ question.question_id.question_text }}</p>
                    <div class="mx-2">
                        {% for answer in answer_list %}
                        {% if answer.question_id_id == question.question_id.question_id %}
                        <input type="radio" id="a_{{ answer.answer_id }}" name="q_{{ question.question_id }}"
                            value="{{ answer.answer_id }}">
                        <label for="a_{{ answer.answer_id }}">{{ answer.answer_text }}</label><br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <div class="text-center my-5">
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg w-100 w-md-50">
                </div>
            </div>
        </form>
    </div>

    {% endif %}

</div>

{% endblock %}
